<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Bruno's website</title>
  <meta name="description" content="A blog about science, society, the universe and all that's in it, in english and in french">
  <style>{% include "index.css" %}</style>
</head>
<body>
  <header>
    <h1><a href="/">Bruno's website</a></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/posts/">Blog</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; 2026 Bruno Sciolla</p>
  </footer>
</body>
</html>
